.navbar-text > a
{
	color: inherit;
	text-devoration: none;
}

.custom
{
	background: url('../img/stardust.png') repeat;
}
/*
*Transparent buttons 
*Overrides bootstrap.css make sure this comes after boostrap in index
*/
.btn.transparent-square
{

	background: transparent;
	color: #F2F2F2;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}
/*
*Square edge override
*/
.btn.transparent-square
{
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
}
body
{
	padding-top: 70px
}


